.comparison {
  margin-top: 48px;
}

.comparison table {
  width: 100%;
  font-size: 18px;
  text-align: left;
  border-collapse: collapse;
}

.comparison table thead tr {
  color: white;
  background-color: var(--color-primary);
}

.comparison table thead tr th {
  width: 25%;
}

.comparison table tbody tr:nth-child(odd) {
  background-color: #f8f9fa;
}

.comparison table tbody tr:nth-child(even) {
  background-color: #e9ecef;
}

.comparison table th,
.comparison table td {
  padding: 16px 24px;
}

@media (max-width: 992px) {
  .comparison table {
    font-size: 16px;
  }

  .comparison table th,
  .comparison table td {
    padding: 12px;
  }
}

@media (max-width: 768px) {
  .comparison table {
    font-size: 14px;
  }

  .comparison table th,
  .comparison table td {
    padding: 8px;
  }
}

@media (max-width: 576px) {
  .comparison table {
    font-size: 12px;
  }

  .comparison table th,
  .comparison table td {
    padding: 4px;
  }
}
